<!DOCTYPE html>
<html>
    <head>
        <title>Transaction | AarushCoin</title>
        <link rel = "stylesheet" href = "https://www.w3schools.com/w3css/4/w3.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <style>
            .content {
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            input {
                outline: none;
            }
        </style>
    </head>
    <body>
        <div class = "content">
            <h3>Did you know: you earn 10AC as a reward for making transactions! Cool, isn't it?</h3>
            <br>
            <form action = "/transaction" method = "POST">
                <label>Recipent Email</label>
                <input class = "w3-input" name = "rec-email" type = "text">
                <br>
                <br>
                <label>Amount</label>
                <input class = "w3-input" name = "amount" type = "text">
                <br>
                <br>
                <input class = "w3-btn w3-black" value = "Send!" type = "submit">
            </form>
        </div>
        <script></script>
    </body>
</html>